<section>
    <div class="container">
        <app-nav-bar></app-nav-bar>
        <app-sidebar></app-sidebar>
        <!------------------------- END OF ASIDE --------------------------->
        <div class="container__total-feedback">
            <h2>ESG | Total Feedbacks</h2>
            <p>Quantidade total de comentarios</p>
            <h1>{{contador.all}}</h1>
        </div>
        <!------------------------- END OF TOTAL-FEEDBACK  --------------------------->
        <div class="container__tipo-feedback">
            <div class="container__tipo-feedback__top">
                <h2>ESG | Feedbacks</h2>
                <p>Total de <b>50.4%</b> crescimento esse mês 😎!</p>
            </div>
            <div class="container__tipo-feedback__bottom">
                <div class="container__tipo-feedback__bottom__box">
                    <div
                        class="container__tipo-feedback__bottom__box__bg container__tipo-feedback__bottom__box__bg--general">
                        <div>
                            <fa-icon [icon]="faList"></fa-icon>
                        </div>
                    </div>
                    <div class="container__tipo-feedback__bottom__box__text">
                        <p>General</p>
                        <div class="container__tipo-feedback__bottom__box__text__number">
                            <h2>{{ contador.tipo.general }}</h2>
                            <span class="container__tipo-feedback__bottom__box__text__number__percent">{{contador.tipo.percentGeneral}}%</span>
                        </div>
                    </div>
                </div>
                <div class="container__tipo-feedback__bottom__box">
                    <div
                        class="container__tipo-feedback__bottom__box__bg container__tipo-feedback__bottom__box__bg--environment">
                        <div>
                            <fa-icon [icon]="faLeaf"></fa-icon>
                        </div>
                    </div>
                    <div class="container__tipo-feedback__bottom__box__text">
                        <p>Environment</p>
                        <div class="container__tipo-feedback__bottom__box__text__number">
                            <h2>{{ contador.tipo.environment }}</h2>
                            <span class="container__tipo-feedback__bottom__box__text__number__percent">{{contador.tipo.percentEnvironment}}%</span>
                        </div>
                    </div>
                </div>
                <div class="container__tipo-feedback__bottom__box">
                    <div
                        class="container__tipo-feedback__bottom__box__bg container__tipo-feedback__bottom__box__bg--social">
                        <div><fa-icon [icon]="faUserGroup"></fa-icon></div>
                    </div>
                    <div class="container__tipo-feedback__bottom__box__text">
                        <p>Social</p>
                        <div class="container__tipo-feedback__bottom__box__text__number">
                            <h2>{{ contador.tipo.social }}</h2>
                            <span class="container__tipo-feedback__bottom__box__text__number__percent">{{contador.tipo.percentSocial}}%</span>
                        </div>
                    </div>
                </div>
                <div class="container__tipo-feedback__bottom__box">
                    <div
                        class="container__tipo-feedback__bottom__box__bg container__tipo-feedback__bottom__box__bg--governance">
                        <span><fa-icon [icon]="faBuilding"></fa-icon></span>
                    </div>
                    <div class="container__tipo-feedback__bottom__box__text">
                        <p>Governance</p>
                        <div class="container__tipo-feedback__bottom__box__text__number">
                            <h2>{{ contador.tipo.governance }}</h2>
                            <span class="container__tipo-feedback__bottom__box__text__number__percent">{{contador.tipo.percentGovernance}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__weekly-overview">
            <h2>ESG | Visão Semanal</h2>
            <app-weekly-overview></app-weekly-overview>
            <button>DETALHES</button>
        </div>
        <div class="main4">
            <div>
                <h2>NPS | Net Promoter Score</h2>
                <p>Nota em relação a sentimentação dos clientes</p>

            </div>
            <div class="dstq-rating" id="NPS">
                <h2>{{contador.nps}}</h2>
                <fa-icon class="danger  displayn" id="iconNg" [icon]="faFaceAngry"></fa-icon>
                <fa-icon class="warning displayn" id="iconNt" [icon]="faFaceMeh"></fa-icon>
                <fa-icon class="success displayn" id="iconPs" [icon]="faFaceSmile"></fa-icon>

            </div>
            <div class="detail-rating">
                <div class="c-rating">
                    <div class="desc-rating">
                        <div class="b-rating">
                            <fa-icon class="success" [icon]="faFaceSmile"></fa-icon>
                        </div>
                        <div class="desc-r-box">
                            <h3>Positive</h3>
                            <p class="text-muted">Feedbacks bons</p>
                        </div>
                    </div>
                    <div class="pb">
                        <div class="nrating">
                            <div>
                                <div class="container__tipo-feedback__bottom__box__text__number__percent">
                                    {{contador.rating.percentPositive}}%</div>
                            </div>
                            <p>{{contador.rating.positive}}</p>
                        </div>
                        <mat-progress-bar mode="determinate" [value]="contador.rating.percentPositive"
                            class="progress-bar-positive"></mat-progress-bar>
                    </div>
                </div>
                <div class="c-rating">
                    <div class="desc-rating">
                        <div class="b-rating">
                            <fa-icon class="warning" id="iconN" [icon]="faFaceMeh"></fa-icon>
                        </div>
                        <div class="desc-r-box">
                            <h3>Neutral</h3>
                            <p class="text-muted">Feedbacks neutros</p>
                        </div>
                    </div>
                    <div class="pb">
                        <div class="nrating">
                            <div>
                                <div class="container__tipo-feedback__bottom__box__text__number__percent">
                                    {{contador.rating.percentNeutral}}%</div>
                            </div>
                            <p>{{contador.rating.neutral}}</p>
                        </div>
                        <mat-progress-bar mode="determinate" [value]="contador.rating.percentNeutral"
                            class="progress-bar-neutral"></mat-progress-bar>
                    </div>
                </div>
                <div class="c-rating">
                    <div class="desc-rating">
                        <div class="b-rating">
                            <fa-icon class="danger" [icon]="faFaceAngry"></fa-icon>
                        </div>
                        <div class="desc-r-box">
                            <h3>Negative</h3>
                            <p class="text-muted"> Feedbacks ruins</p>
                        </div>
                    </div>
                    <div class="pb">
                        <div class="nrating">
                            <div>
                                <div class="container__tipo-feedback__bottom__box__text__number__percent">
                                    {{contador.rating.percentNegative}}%</div>
                            </div>
                            <p>{{contador.rating.negative}}</p>
                        </div>
                        <mat-progress-bar mode="determinate" [value]="contador.rating.percentNegative"
                            class="progress-bar-negative"></mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="main5">
            <h2>Rating | Visão Mensal</h2>
            <app-monthly-overview></app-monthly-overview>
            <div class="coment-rating">
                <h1>35%</h1>
                <p>Os feedbacks positivos aumentarem 35.5% comparado ao mes passado 😎!</p>
            </div>
        </div>
    </div>
</section>