<section>
    <div class="container">
        <app-nav-bar></app-nav-bar>
        <app-sidebar></app-sidebar>
        <!------------------------- END OF ASIDE --------------------------->
        <div class="main1">
            <h2>ESG | Total Feedbacks</h2>
            <p>Quantidade total de comentarios</p>
            <h1>2.039</h1>
        </div>

        <div class="main2">
            <div class="top-main2">
                <h2>ESG | Feedbacks</h2>
                <p>Total de <b>50.4%</b> crescimento esse mês 😎!</p>
            </div>
            <div class="bottom-main2">
                <div class="container-box">
                    <div class="box box-e">
                        <div><fa-icon [icon]="faLeaf"></fa-icon></div>
                    </div>
                    <div class="box-text">
                        <p>Environment</p>
                        <h2>1.3K<span class="box-prcnt">30%</span></h2>
                    </div>
                </div>
                <div class="container-box">
                    <div class="box box-s">
                        <div><fa-icon [icon]="faUserGroup"></fa-icon></div>
                    </div>
                    <div class="box-text">
                        <p>Social</p>
                        <h2>0.9K<span class="box-prcnt">22%</span></h2>
                    </div>
                </div>
                <div class="container-box">
                    <div class="box box-g">
                        <span><fa-icon [icon]="faBuilding"></fa-icon></span>
                    </div>
                    <div class="box-text">
                        <p>Governance</p>
                        <h2>2.8K<span class="box-prcnt">83%</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main3">
            <h2>ESG | Visão Semanal</h2>
            <app-weekly-overview></app-weekly-overview>
            <button>DETALHES</button>
        </div>
        <div class="main4">
            <div>
                <h2>NPS | Net Promoter Score</h2>
                <p>Nota em relação a sentimentação dos clientes</p>

            </div>
            <div class="dstq-rating">
                <h1>66%<fa-icon class="warning" [icon]="faFaceMeh"></fa-icon></h1>
            </div>
            <div class="detail-rating">
                <div class="c-rating">
                    <div class="desc-rating">
                        <div class="b-rating">
                            <fa-icon class="success" [icon]="faFaceSmile"></fa-icon>
                        </div>
                        <div class="desc-r-box">
                            <h3>Positive</h3>
                            <p class="text-muted">Feedbacks bons</p>
                        </div>
                    </div>
                    <div class="pb">
                        <div class="pb-prcnt">
                            <div>
                                <div class="box-prcnt">83%</div>
                            </div>
                            <p>4.3K</p>
                        </div>
                        <div class="back-pb bg-succes-fade">
                            <div class="frontpb bg-succes pfeed"></div>
                        </div>
                    </div>
                </div>
                <div class="c-rating">
                    <div class="desc-rating">
                        <div class="b-rating">
                            <fa-icon class="warning" [icon]="faFaceMeh"></fa-icon>
                        </div>
                        <div class="desc-r-box">
                            <h3>Neutral</h3>
                            <p class="text-muted">Feedbacks neutros</p>
                        </div>
                    </div>
                    <div class="pb">
                        <div class="pb-prcnt">
                            <div>
                                <div class="box-prcnt">23%</div>
                            </div>
                            <p>2.8K</p>
                        </div>
                        <div class="back-pb bg-warning-fade">
                            <div class="frontpb bg-warning nfeed"></div>
                        </div>
                    </div>
                </div>
                <div class="c-rating">
                    <div class="desc-rating">
                        <div class="b-rating">
                            <fa-icon class="danger" [icon]="faFaceAngry"></fa-icon>
                        </div>
                        <div class="desc-r-box">
                            <h3>Negative</h3>
                            <p class="text-muted"> Feedbacks ruins</p>
                        </div>
                    </div>
                    <div class="pb">
                        <div class="pb-prcnt">
                            <div>
                                <div class="box-prcnt">13%</div>
                            </div>
                            <p>2.8K</p>
                        </div>
                        <div class="back-pb bg-danger-fade">
                            <div class="frontpb bg-danger ngfeed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main5">
            <h2>Rating | Visão Mensal</h2>
            <app-line-graph-rating></app-line-graph-rating>
            <div class="coment-rating">
                <h1>35%</h1>
                <p>Os feedbacks positivos aumentarem 35.5% comparado ao mes passado 😎!</p>
            </div>
        </div>
        <div class="main6">
            <h2>Social Media | Ranking</h2>
            <div class="ranking">
                <div class="ranking-box">
                    <div class="social-media-box">
                        <div class="profile-photo"></div>
                        <div class="sm-text">
                            <h3>2.678<div class="box-prcnt-up">+25%</div></h3>
                            <p>Facebook</p>
                        </div>
                    </div>
                    <div class="sm-nclient">
                        <h3>200</h3>
                        <p>clientes</p>
                    </div>
                </div>
                <div class="ranking-box">
                    <div class="social-media-box">
                        <div class="profile-photo"></div>
                        <div class="sm-text">
                            <h3>2.678<div class="box-prcnt-down">-25%</div></h3>
                            <p>Facebook</p>
                        </div>
                    </div>
                    <div class="sm-nclient">
                        <h3>200</h3>
                        <p>clientes</p>
                    </div>
                </div>
                <div class="ranking-box">
                    <div class="social-media-box">
                        <div class="profile-photo"></div>
                        <div class="sm-text">
                            <h3>2.678 <div class="box-prcnt-up">+25%</div></h3>
                            <p>Facebook</p>
                        </div>
                    </div>
                    <div class="sm-nclient">
                        <h3>200</h3>
                        <p>clientes</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>