<div class="row">
    <div class="col-md-12">
        <form method="post">
            <h1> Sign Up </h1>

            <fieldset>
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" method="post">

                <!-- <label for="job">Tipo Feedback:</label>
                <select id="job" name="user_job">
                    <option value="environment">Environment</option>
                    <option value="social">Social</option>
                    <option value="governance">Governance</option>
                </select>
                
                <label for="job">Tipo Feedback:</label>
                <select id="job" name="user_job">
                    <option value="environment">Environment</option>
                    <option value="social">Social</option>
                    <option value="governance">Governance</option>
                </select>

                <label for="job">Tipo Feedback:</label>
                <select id="job" name="user_job">
                    <option value="environment">Environment</option>
                    <option value="social">Social</option>
                    <option value="governance">Governance</option>
                </select>

                <label for="bio">Feedback:</label>
                <textarea id="bio" name="user_bio"></textarea> -->

                
            </fieldset>

            <button type="submit">Sign Up</button>

        </form>
    </div>
</div>