<section>
    <div class="container">
        <app-nav-bar></app-nav-bar>
        <app-sidebar></app-sidebar>
        <div class="instagram-embed"><iframe id="iframeInstagram" frameborder="0" scrolling="no"
                allowtransparency="true"></iframe>
        </div>
        <div class="aggregateDataGraph">
            <h1>ESG | NPS</h1>
            <canvas #chartCanvas></canvas>
        </div>
        <div class="comentarios-container">
            <div class="comentarios-container-titulo">
                <h1>Comentarios</h1>
            </div>
            <div class="comentarios-scrollable">
                <div *ngFor="let comentario of comentarioListPR?.content" class="comentario-card">
                    <h3>{{ comentario.usuario }}</h3>
                    <p>{{ comentario.comentario }}</p>
                    <div class="rating">
                        <span><fa-icon [icon]="faHeart"></fa-icon> {{ comentario.curtidas }}</span>
                    </div>
                </div>
            </div>
            <div class="pagination-controls">
                <div class="pagination-buttons">
                <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
                <button (click)="nextPage()" [disabled]="page === totalPages - 1">Próximo</button>
            </div>
            </div>
        </div>
        <div class="container__analise-comentarios">
            <div class="container__scrollable-list">
                <h1>TOP 20 Palavras mais usadas</h1>
                <div class="scrollable-list">
                    <div class="progress-bar-outer" *ngFor="let word of listaWordCloud">
                        <div class="progress-bar-section">
                            <div class="progress-bar-inner"
                                [style.width]="getWordPercentage(word.numeroPalavras) + '%'"></div>
                            <span class="progress-text-left">{{word.palavra}}</span>
                            <span class="progress-text-right">{{word.numeroPalavras }}</span>
                        </div>
                        <fa-icon (click)="removeWord(word.palavra)" class="icon--bg icon--bg--danger" id="iconN"
                            [icon]="faTrash"></fa-icon>
                    </div>



                </div>
            </div>
        </div>


    </div>


</section>