section {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  background-color: var(--color-background);
  box-sizing: border-box;
  padding: 1.4rem 1.4rem 1.4rem 0rem;
}

.container {
  display: grid;
  width: 96%;

  gap: 1.8rem;
  grid-template-columns: 0.4fr 1fr 1fr 1fr;
  grid-template-rows: 4vh auto auto auto;
  grid-template-areas:
    "aside   nb         nb        nb"
    "aside   fd         fd        fd"
    "aside   consulta  consulta  consulta"
    "aside   ctable     ctable    ctable";
  color: var(--color-dark);
}
app-sidebar {
  grid-area: aside;
}
app-nav-bar {
  grid-area: nb;
}

/* =======================================CADASTRO=========================================*/

.container__cadastro {
  grid-area: fd;
  width: 100%;
}
.container__cadastro__toggle {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
}

.container__cadastro__toggle__label {
  background-color: var(--color-white);
  color: var(--color-dark);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: var(--box-shadow);
}
input[type="radio"][value="pesquisar"] + .container__cadastro__toggle__label {
  border-radius: var(--border-radius-1) 0 0 var(--border-radius-1);
}
input[type="radio"][value="cadastrar"] + .container__cadastro__toggle__label {
  border-radius: 0 var(--border-radius-1) var(--border-radius-1) 0;
}
input[type="radio"]:checked + .container__cadastro__toggle__label {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.3s;
}

/* Estilos adicionais para os rótulos quando não marcados */

.container__cadastro__input {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.container__cadastro__input input::placeholder {
  color: #737fec93;
}
.container__cadastro__input input {
  width: 91.6%;
  border-radius: var(--border-radius-1) 0 0 var(--border-radius-1);
  background: #ddd;
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  color: var(--color-primary);
  background-color: transparent;
  border: 3px var(--color-primary) solid;
}
.container__cadastro__input button {
  background-color: var(--color-primary);
  width: 8%;
  border-radius: 0 var(--border-radius-1) var(--border-radius-1) 0;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.container__cadastro__input button:hover {
  background-color: var(--color-primary-hover);
}
/* =======================================CADASTRO=========================================*/
/* =======================================CONSULTA=========================================*/
.container__consulta {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8rem;
  grid-area: consulta;
}
.container__consulta__postagem {
  background-color: var(--color-white);
  padding: var(--card-padding);
  height: 220px;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__consulta__postagem__top__titulo {
  display: flex;
  justify-content: space-between;
}
.container__consulta__postagem__top__titulo h1 > fa-icon {
  color: rgb(255, 103, 141);
  margin-left: 0.7rem;
}

.container__consulta__postagem__top__titulo__icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.icon--bg {
  padding: 1px 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  margin-left: 0.7rem;
}
.icon--bg--primary {
  color: var(--color-blue);
}
.icon--bg--danger {
  color: var(--color-danger);
}
.icon--bg--primary:hover {
  background-color: var(--color-blue-fade);
}
.icon--bg--danger:hover {
  background-color: var(--color-danger-fade);
}
.container__consulta__postagem__top_descricao {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

.container__consulta__postagem_bottom {
  display: flex;
  justify-content: space-between;
}
.container__consulta__postagem_bottom a {
  color: var(--color-blue);
  text-decoration: underline;
}
.container__consulta__postagem_bottom__btn {
  display: flex;
  align-items: flex-end;
}
.container__consulta__postagem_bottom__btn button {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0.5rem 0.7rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  font-weight: 500;
  transition: 0.5s;
}
.container__consulta__postagem_bottom__btn button:hover {
  background-color: var(--color-blue-hover);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
  font-size: 3rem;
}
.disabled-button {
  background-color: var(--color-primary-hover) !important ;
  cursor: not-allowed !important ; /* Altera o cursor para "não permitido" */
  opacity: 0.5 !important ; /* Reduz a opacidade para indicar desabilitado */
}

#iconeAtualizacao.fa-spin {
  animation: spin 1s infinite linear; 
  transition: transform .5s ease-in-out;
}
/* =======================================CONSULTA=========================================*/
