.container{
  height: 100vh;
  width: 100%;
  transition: .5s ease-in-out;
}
table {
  width: 100%;
  border-radius: var(--border-radius-1);
  border-collapse: collapse;
  transition: .5s ease-in-out;
}

th {
  padding: 15px 0;
  background-color: var(--color-light);
  color: var(--color-dark);
  text-align: start;
  padding-left: 30px;
}
th:first-child {
  border-radius: var(--border-radius-1) 0 0 0;
}
th:last-child {
  border-radius: 0 var(--border-radius-1) 0 0;
}

tbody {
  background-color: var(--color-white);
  
}
tr {
  background-color: transparent;
  color: var(--color-dark);
  text-align: start;
  border-radius: var(--border-radius-1);
}
tr:hover {
  background-color: var(--color-light);
}
td {
  padding: 15px 0;
  padding-left: 30px;
}
tbody {
  border-radius: var(--border-radius-1);
}
.paginator{
  width: 100%;
  background-color: var(--color-light);
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px;
  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
}
.paginator button{
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-dark);
  cursor: pointer;
}
.paginator div{
border: 1px solid ;
width: 2rem;
text-align: center;
}
.paginator div p{
  color: var(--color-dark);
}